<div class="container mt-100">
  <h5 class="text-left">{{text}}</h5>
  <br />
  <div class="row">
    {{#each items}}

      <div class="col-md-4 col-sm-6">
        <div class="card mb-30"><a
            class="card-img-tiles"
            href="{{this.link}}"
            data-abc="true"
          >
            <div class="inner">
              <div class="main-img">
                <div
                  style="display: flex; justify-content: center;align-items: center;"
                >
                  <img
                    src="{{this.image}}"
                    alt="Image"
                    height="300"
                    width="300"
                  />
                </div>
              </div>
            </div>
          </a>
          <div class="card-body text-center">
            <h4 class="card-title">{{this.phone_name}}</h4>
            <p class="text-muted">{{this.price}}</p>
            <a
              class="btn btn-outline-primary btn-sm"
              href="{{this.link}}"
              data-abc="true"
            >Truy cập</a>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>